
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div>
        {% for category in data.categoies %}
        <a href="/goodslist?id={{category.id}}">{{ category.name }}</a>
        {% endfor %}
    </div>
    
<table>
    {% for i in data.click_news_list %}
    <tr>
        <td><a href="/content?id={{i.id}}"><img src={{i.image_url}} width=100px></a></td>
        <td><a href="/content?id={{i.id}}">{{i.name}}</a>
        </td>
        <td>价格：{{i.price}}
        </td>
        <td>数量：{{i.number}}
        </td>
    </tr>
    
    {% endfor %}
</table>

</body>
</html>